body {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #000000;
    color: #ffffff;
}

header {
    text-align: center;
}

nav li {
    display: inline;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
}

nav a {
    color: #FFA500;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.textoinicial {
    font-size: 20px;
    text-align: justify;
}

main {
    text-align: center;
}

main li {
    display: inline;
    margin: 0 0 0 25px
}

.minhaclasse {
    width: 350px;
    height: 200px;
}